<% obj.each do |article| %>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="well well-lg list-description">
      <h4 class="text-center"><%= link_to article.title, article_path(article) %></h4>
      <hr>
      <p><%=truncate(article.description, length: 100) %></p>
      <small><i>Created by: <%= article.user.username if article.user %>,
      <%= time_ago_in_words(article.created_at) %> ago,
      last updated: <%= time_ago_in_words(article.updated_at) %> ago.</i>
      </small>
      <% if logged_in? && (current_user == article.user || current_user.admin?) %>
        <hr>
        <%= link_to "Edit", edit_article_path(article), class: "btn btn-primary" %>
        <%= link_to 'Delete', article_path(article), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" %>
      <% end %>
    </div>
  </div>
</div>
<% end %>