<%= render "shared/errors", obj: @user %>
<%= form_for @user do |f| %>
  <div class="form-group">
    <%= f.label :username %>
    <%= f.text_field :username, class: "form-control", placeholder: "Enter Username", autofocus: true %>
  </div>
  
  <div class="form-group">
    <%= f.label :email %>
    <%= f.email_field :email, class: "form-control", placeholder: "Enter Email" %>
  </div>
  <div class="form-group">
    <%= f.label :password %>
    <%= f.password_field :password, class: "form-control", placeholder: "Enter Password" %>
  </div>
  <div class="form-group">
    <%= f.submit(@user.new_record? ? "Sign Up" : "Update", class: "btn btn-primary") %>
    <%= link_to "Cancel", root_path, class: "btn btn-danger" %>
  </div>
<% end %>